.simon {
    padding: 40px 0;
    &__container {
        background-color: rgba($color: pink, $alpha: 0.5);
    }
    &__content {
        position: relative;
        padding: 5px;
        border-radius: 20px;
        background-color: papayawhip;
        max-width: 600px;
        width: 90%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__item {
        width: 100px;
        height: 100px;
        margin: 10px;
        transition: all 0.3s ease-in-out;
        &--tl {
            border-top-left-radius: 100%;
        }
        &--tr {
            border-top-right-radius: 100%;
        }
        &--bl {
            border-bottom-left-radius: 100%;
        }
        &--br {
            border-bottom-right-radius: 100%;
        }
        &--red {
            background-color: rgba($color: red, $alpha: 1);
        }
        &--yellow {
            background-color: rgba($color: yellow, $alpha: 1);
        }
        &--green {
            background-color: rgba($color: green, $alpha: 1);
        }
        &--blue {
            background-color: rgba($color: blue, $alpha: 1);
        }
        &:hover {
            // filter: brightness(2.5) saturate(2.5);
            cursor: pointer;
        }
    }
    &__message {
        display: none;
        position: absolute;
        background-color: white;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 150px;
        max-height: 150px;
        text-align: center;
        border-radius: 10px;
        
        span {
            line-height: 50px;
        }
        &--images {
            // display: block;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 70%;
            animation: images-objects 5s ease-in-out infinite;
        }
    }
}
